<% provide(:title, '全てのユーザー') %>


<h1>All users</h1>

<!-- test -->
<div class="users-index">
  <div class="container">
    <div class="user-item-box">
    <div class="post-cardss latest row">
      <% @users.each do |user| %>
        <div class="user-cards d-flex align-items-center col-md-4 col-sm-6">
        <div style="width: 100%" >
        <div class="user-item user-list">

          <% if user.avatar_id.present? %>
            <%=link_to (image_tag attachment_url(user, :avatar, :fill, 150, 150, format: "jpg")),"/users/show/#{user.id}", class: 'user-img' %>
          <% else %>
            <%=link_to (image_tag('/images/user-default.png', size: '150x150', class: 'user-img')), "/users/show/#{user.id}" %>
          <% end %>
        </div>
        <br>
        <div class="user-name">
        <%= user.username %>
        </div>
        <div class="follow-btn">
          <% if user_signed_in? %>
            <% unless current_user == user %>
              <% if current_user.following?(user) %>
                <%= form_for(current_user.following_relationships.find_by(following_id: user.id), html: { method: :delete }, remote: true) do |f| %>
                  <%= f.submit "フォロー中", class: "btn unfollow rounded-pill" %>
                <% end %>
              <% else %>
                <%= form_for(current_user.following_relationships.build(following_id: user.id), remote: true) do |f| %>
                  <%= f.hidden_field :following_id %>
                  <%= f.submit "フォロー", class: "btn follow rounded-pill d-flex align-items-center justify-content-center" %>
                  <% end %>
                <% end %>
                <% else %>
                <%= link_to 'マイページ', "/users/show/#{current_user.id}"%>

              <% end %>
<% end %>
        </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
