<div class="posts-indexx">
  <div class="post-item-box">
    <% if @user.avatar_id.present? %>
      <div class="user-photoo">
        <%= image_tag attachment_url(@user, :avatar, :fill, 180, 180, format: "jpg"), class: 'user-image' %>
      </div>
    <% else %>
      <div class="user-photoo">
        <%= image_tag('/images/user-default.png', size: '180x180', class: 'user-image') %>
      </div>
    <% end %>

    <div class="user-infomationn">
      <div class="username-showw">
        <%= @user.username %>
        <%= render 'follow_form' %>
      </div>
      <div class="profile-showw">
        <%= @user.profile %>
      </div>
    </div>
  </div>
</div>



<div class="user-status-cell">
  <ul class="nav nav-pills justify-content-around justify-content-md-center" id="pills-tab" role="tablist">
    <li class="nav-item">
      <%= link_to "#", { class: "nav-link d-flex align-items-center justify-content-center px-0  active", id: "pills-post-tab", href: "#pills-post",
          role: "tab", "data-toggle" => "pill", "aria-controls" => "pills-post", "aria-selected" => "true"} do %>
        <div class="user-status">
          <div class="status-name p-0">投稿</div>
          <div class="status-value"><%= @user.posts.count.to_s(:delimited) %></div>
        </div>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", { class: "nav-link d-flex align-items-center justify-content-center px-0", id: "pills-following-tab", href: "#pills-following",
          role: "tab", "data-toggle" => "pill", "aria-controls" => "pills-following", "aria-selected" => "true"} do %>
        <div class="user-status">
          <div class="status-name p-0">フォロー中</div>
          <div class="status-value" id="followings"><%= @user.followings.count.to_s(:delimited) %></div>
        </div>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", { class: "nav-link d-flex align-items-center justify-content-center px-0", id: "pills-follower-tab", href: "#pills-follower",
          role: "tab", "data-toggle" => "pill", "aria-controls" => "pills-follower", "aria-selected" => "true"} do %>
        <div class="user-status">
          <div class="status-name p-0">フォロワー</div>
          <div class="status-value" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower" aria-selected="false"><div id="followers" ><%= @user.followers.count.to_s(:delimited) %></div></div>
        </div>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", { class: "nav-link d-flex align-items-center justify-content-center px-0", id: "pills-lover-tab", href: "#pills-lover",
          role: "tab", "data-toggle" => "pill", "aria-controls" => "pills-lover", "aria-selected" => "true"} do %>
        <div class="user-status">
          <div class="status-name p-0">いいね</div>
          <div class="status-value"><%= @user.likes.count.to_s(:delimited) %></div>
        </div>
      <% end %>
    </li>
  </ul>
</div>

<div class="tab-content user-profile-contents" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-post" role="tabpanel" aria-labelledby="pills-post-tab">
    <% if @user.posts.any? %>
      <%= render 'show_post' %>
    <% else %>
      <div class="no-contents d-flex align-items-center justify-content-center mx-auto">
        投稿がありません
      </div>
    <% end %>
  </div>

  <div class="tab-pane fade" id="pills-following" role="tabpanel" aria-labelledby="pills-following-tab">
    <% if @following.any? %>
      <%= render 'show_follow' %>
    <% else %>
      <div class="no-contents d-flex align-items-center justify-content-center mx-auto">
        誰もフォローしていません
      </div>
    <% end %>
  </div>


  <div class="tab-pane fade" id="pills-follower" role="tabpanel" aria-labelledby="pills-follower-tab">
    <% if @follower.any? %>
            <%= render 'show_follower' %>
    <% else %>
      <div class="no-contents d-flex align-items-center justify-content-center mx-auto">
        フォローされていません
      </div>
    <% end %>
  </div>


  <div class="tab-pane fade" id="pills-lover" role="tabpanel" aria-labelledby="pills-lover-tab">
    <% if @user.likes.any? %>
              <%= render 'show_liked' %>
    <% else %>
      <div class="no-contents d-flex align-items-center justify-content-center mx-auto">
        "いいね！" した投稿がありません
      </div>
    <% end %>
  </div>
</div>
