<h1>こんにちは、<%= @user.username %>さん</h1>
<p>ユーザー用ページです。他ユーザーから見られるユーザーページです。</p>
<% if @user.avatar_id.present? %>
<%= image_tag attachment_url(@user, :avatar, :fill, 70, 70, format: "jpg") %>
<% else %>
<%= image_tag('/images/default.jpg', class: 'img-responsive padding-top-15', :size =>'70x70') %>
<% end %>
<%= @user.profile %>
<section class="stats">
<% if user_signed_in? %>
  <%= render 'follow_form' %>
  <% end %>
</section>

<!-- テスト -->
<div class="row">
<div class="user-nav col-md-12">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item nav-link-user">
     <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">投稿<%= @user.posts.count.to_s(:delimited) %></a>
    </li>
    <li class="nav-item nav-link-user">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">いいね<%= @user.likes.count.to_s(:delimited) %></a>
     </li>
     <li class="nav-item nav-link-user">
       <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">フォロー<%= @user.followings.count.to_s(:delimited) %></a>
     </li>
     <li class="nav-item nav-link-user">
       <a class="nav-link" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower" aria-selected="false">フォロワー<%= @user.followers.count.to_s(:delimited) %></a>
     </li>
  </ul>

<!-- 投稿 -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <% if @user.posts.any? %>
    <%= render 'show_post' %>
    <% else %>
        <p>投稿はまだありません</p>
        <% end %>
    </div>

<!-- いいね　-->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <% if @user.liked_posts.any? %>
        <%= render 'show_liked' %>
      <% else %>
        <p> なし </p>
      <% end %>
    </div>

<!-- フォロー -->
       <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
         <% if @following.any? %>
      <%= render 'show_follow' %>
    <% else %>
      <div class="no-contents d-flex align-items-center justify-content-center mx-auto">
        誰もフォローしていません
      </div>
    <% end %>
         </div>

<!-- フォロワー -->
         <div class="tab-pane fade" id="follower" role="tabpanel" aria-labelledby="follower-tab">
               <% if @follower.any? %>
      <%= render 'show_follower' %>
      <% else %>
      <div class="no-contents d-flex align-items-center justify-content-center mx-auto">
        誰もフォローしていません
      </div>
    <% end %>
          </div>
       </div>
    </div>
 </div>
</div>
</div>
<!-- テスト -->
