<div class="post-cardss latest row", id="article_lists" >
  <% @post.each do |post| %>
    <div class="post-cardssss col-6 col-sm-4">
      <div class="post-cardss-img">
        <% if post.image_id.present? %>
          <%=link_to (image_tag attachment_url(post, :image, :fill, 300, 260,  format: "jpg")), "/posts/show/#{post.id}", class: 'post-photo' %>
        <% else %>
          <%=link_to (image_tag('/images/post-default.jpg',size: '280x220', class: 'img-responsive padding-top-15')), "/posts/show/#{post.id}", class: 'post-photo' %>
        <% end %>
      </div>

      <div class="post-user">
        <% if post.user.avatar_id.present? %>
          <%=link_to (image_tag attachment_url(post.user, :avatar, :fill, 40, 40, format: "jpg")), user_path(post.user) %>
        <% else %>
          <%=link_to (image_tag('/images/user-default.png',size: '40x40')), user_path(post.user) %>
        <% end %>
      </div>

      <div class="post-footer-namess">
        <%= link_to "@#{post.user.username}", "/users/show/#{post.user_id}", class: "post-footer-username", style: "color:black;" %>
        <div class="post-time">
        <% if user_signed_in? %>
            <% if current_user.already_liked?(post) %>
              <i class="fas fa-heart unlike-btn"></i>
            <% else %>
              <i class="far fa-heart like-btn" ></i>
            <% end %>
            <span style="color: black;"><%= post.likes.count %></span>
          <% else %>
            <i class="far fa-heart like-btn" ></i>
            <span style="color: black;"><%= post.likes.count %></span>
          <% end %>
          &nbsp;&nbsp;<%= time_ago_in_words(post.created_at) %>前
        </div>
      </div>
  </div>
<% end %>
</div>
