<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <div class="comment d-flex">
      <div class="comment-avatar">
        <% if comment.user.avatar_id? %>
          <%= image_tag attachment_url(comment.user, :avatar, :fill, 50, 50, format: "jpg")%>
        <% else %>
          <%= link_to image_tag("user-default.png")%>
        <% end %>
      </div>

      <div class="comment-body">
        <div class="comment-author">
          <%= link_to "@#{comment.user.username}", user_path(comment.user), class: "author-username" %>
        </div>
        <div class="comment-text"><%= comment.content %></div>
        <div class="time-ago d-flex">
          <div class="time-agoo">
        <%= time_ago_in_words(comment.created_at) %>前
        </div>
        <% if user_signed_in? %>
          <% if comment.user_id == current_user.id %>
          <div class="delete">
            <%= link_to '削除', post_comment_path(comment.post.id, comment.id), method: :delete, data: { confirm: "コメントを削除しますか？この操作は取り消せません。"}, class: "btn" %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class="no-contents d-flex align-items-center justify-content-center mx-auto">
      まだコメントがありません
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= form_for [@post, @comment] do |f| %>
      <div class="comment-boxx">
        <div class="comment-box">
         <%= f.label :コメント %>
          <%= f.text_area :content, rows:4,class: "form-control", placeholder: "コメントを記入..." %>
        </div>
        </div>
        <div class="comment-btn">
      <%= f.submit "コメントを送信", { class: "btn" } %>
      </div>
    <% end %>
  <% end %>
