<div class="all-user">
<a class="text-center">投稿一覧</a>
</div>
<div class="post-cardsx row">
  <% @spot.each do |post| %>
    <div class="post-cardssss col-6 col-sm-4">
      <div class="post-card-imgss">
        <% if post.image_id.present? %>
          <%=link_to (image_tag attachment_url(post, :image, :fill, 300, 260,  format: "jpg")), "/posts/show/#{post.id}", class: 'post-photoss img-fluid', alt:"post image" %>
        <% end %>
      </div>
      <div class="post-user">
        <% if post.user.avatar_id.present? %>
          <%=link_to (image_tag attachment_url(post.user, :avatar, :fill, 50, 50, format: "jpg")), user_path(post.user) %>
        <% else %>
          <%=link_to (image_tag('/images/user-default.png',size: '50x50')), user_path(post.user) %>
        <% end %>
      </div>
        <div class="post-footer-namess" style="line-height: 20px;">
          <%= link_to "@#{post.user.username}", user_path(post.user), class: "post-footer-username" %></a>
          <% if user_signed_in? %>
            <% if current_user.already_liked?(post) %>
              <i class="fas fa-heart unlike-btn"></i>
            <% else %>
              <i class="far fa-heart like-btn" ></i>
            <% end %>
            <%= post.likes.count %>
          <% else %>
            <i class="far fa-heart like-btn" ></i>
            <%= post.likes.count %>
          <% end %>
          <i class="fas fa-comments"></i></i> <%= post.comments.count %>
            <br>
          <div class="post-time">
            <%= time_ago_in_words(post.created_at) %>前
          </div>
        </div>
      </div>
  <% end %>
</div>
