<div class="container">
<div class="all-user">
<a class="text-center">投稿する</a>
</div>
<%= form_for (@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<div class="post-form">
    <div class="preview-wrap" onClick="$('#file').click()">
      <div id="img_field">

      </div>
      <i class="fas fa-camera" onClick="$('#file').click()"></i>
    </div>
      <%= f.file_field :image, class: "image", style: "display: none;", id: "file", accept: 'image/jpeg,image/gif,image/png' %>
</div>




  <div class="field">
    <%= f.text_area :title, autofocus: true, rows:1, class: "form-control", placeholder: "施設名を記入..."  %>
    <%= f.text_area :body, rows:8,class: "form-control", placeholder: "内容を記入..." %>
  </div>

 <div class="form-group">
    <div class="cp_ipselect cp_sl06">
    <%= f.select :tag_list, Post::TAG_TYPES.map { |key, value| [value, key] }, include_blank: 'タグ選択', class: "cp_ipselect cp_sl06" %>
  </div>
  </div>




<div class="post-form-btns text-right mb-4">
    <%= link_to "キャンセル", root_path, class: "btn post-form-btn mr-2", style: "border: none;" %>
    <%= f.submit "投稿を送信", { class: "btn post-form-btn mr-3" } %>
  </div>
<% end %>




<!--　画像プレビュー(パーシャルにする) -->
<script type="text/javascript">



  <!--　テスト -->
$(function(){
    $fileField = $('#file')

    // 選択された画像を取得し表示
    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            width: "100%",
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });
  <!-- /テスト -->
</script>
