<div class="post-show">
  <div class="post-header">
    <div class="post-user">
      <% if @posts.user.avatar_id.present? %>
        <%= image_tag attachment_url(@posts.user, :avatar, :fill, 50, 50, format: "jpg") %>
      <% else %>
        <%= image_tag('/images/default.jpg',size: '50x50') %>
      <% end %>
    </div>
      <%= @post.user.username %>
  </div>

  <div class="post-image">
    <% if @post.image_id.present? %>
      <%= image_tag attachment_url(@post, :image, :fill, 600, 600, format: "jpg"), class: "img-fluid" %>
    <% else %>
      <%= image_tag('/images/post-default.jpg', size: '1100x1100', class: "img-fluid") %>
    <% end %>
  </div>
  <%= @post.title %>
  <%= @post.body %>
<!-- navテスト -->

<div class="post-status-cell" id="comments_and_likes">
  <ul class="nav nav-pills justify-content-around" id="pills-tab" role="tablist">
    <li class="nav-item">
      <%= link_to "#", { class: "nav-link d-flex align-items-center justify-content-center px-0", id: "pills-comment-tab", href: "#pills-comment",
          role: "tab", "data-toggle" => "pill", "aria-controls" => "pills-comment", "aria-selected" => "true"} do %>
        <div class="post-status">
          <div class="status-name p-0">コメントの件数</div>
          <div class="status-value"><%= @comments.count.to_s(:delimited) %></div>
        </div>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "#", { class: "nav-link d-flex align-items-center justify-content-center px-0", id: "pills-like-tab", href: "#pills-like",
          role: "tab", "data-toggle" => "pill", "aria-controls" => "pills-like", "aria-selected" => "true"} do %>
        <div class="post-status">
          <div class="status-name p-0">いいね！された数</div>
          <div class="status-value"><%= @post.likes.count.to_s(:delimited) %></div>
        </div>
      <% end %>
    </li>
  </ul>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">

  </div>

  <div class="tab-pane fade" id="pills-like" role="tabpanel" aria-labelledby="pills-like-tab">
  <% if @post_liked.present? %>
    <div class="user-cards post-likes row">

    </div>
    <div class="post-likes-footer">

      <div class="loadmore-btn-wrapper p-0 d-flex">

      </div>
    </div>
  <% else %>
    <div class="no-contents d-flex align-items-center justify-content-center mx-auto">
      まだ "いいね！" がありません
    </div>
  <% end %>
  </div>
</div>

  <!-- /navテスト -->

  <div class="post-tag">
  <%= render 'posts/tag_list', tag_list: @posts.tag_list %>
  </div>

  <%= render 'posts/like' %>

  <h2>コメント一覧</h2>
  <%= @comments.count %>
  <% @comments.each do |comment| %>
    <div>
      <%= link_to comment.user.username, users_show_path %>
      <%= simple_format comment.content %>
      <%= comment.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
      <% if user_signed_in? %>
      <% if comment.user_id == current_user.id %>
      <%= link_to 'コメントを削除', post_comment_path(comment.post.id, comment.id), method: :delete, data: { confirm: "コメントを削除しますか？この操作は取り消せません。"}, class: "btn btn-danger btn-md" %>
      <% end %>
      <% end %>
      <hr>
    </div>
  <% end %>

  <% if user_signed_in? %>
  <%= form_for [@posts, @comment] do |f| %>
    <%= f.label :コメント内容 %>
    <%= f.text_area :content %>
    <br>
    <%= f.submit 'コメント送信' %>
    <% end %>
    <% end %>

  <% if current_user == @post.user %>
  <%= link_to "削除", post_path, method: :delete %>
  <% end %>
</div>
