<div class="post-show">
  <div class="post-header">
    <div class="post-userr">
      <% if @post.user.avatar_id.present? %>
        <%=link_to (image_tag attachment_url(@post.user, :avatar, :fill, 60, 60, format: "jpg")), user_path(@post.user) %>
      <% else %>
        <%=link_to (image_tag('/images/user-default.png',size: '60x60')), user_path(@post.user) %>
      <% end %>
      <%= link_to "@#{@post.user.username}", user_path(@post.user), class: "post-footer-username" %></a>
    </div>
    <div class="like-form">
      <%= render 'posts/like_form'%>
    </div>
  </div>

  <div class="post-image">
    <% if @post.image_id.present? %>
      <%= image_tag attachment_url(@post, :image, :fill, 600, 600, format: "jpg"), class: "img-fluid" %>
    <% else %>
      <%= image_tag('/images/post-default.jpg', size: '600x600', class: "img-fluid") %>
    <% end %>
  </div>

  <div class="post-infoo">
    <div class="post-titlee">
      <%= @post.title %>
    </div>
    <div class="post-bodyy">
      <%= @post.body %>
    </div>
    <div class="time-ago d-flex">
      <%= time_ago_in_words(@posts.created_at) %>前
      <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %>
        <%= link_to "削除", post_path, method: :delete, class: "btn", data: { confirm: "投稿を削除しますか？この操作は取り消せません。"}%>
      <% end %>
      <% end %>
    </div>
  </div>
<!-- navテスト -->

<!-- pills -->

<!-- コメント -->
<div class="user-status-cell">
  <div class="post-footer">
    <ul class="nav nav-pills justify-content-around justify-content-md-center" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">コメント<%= @comments.count.to_s(:delimited) %></a>
      </li>
      <li class="nav-item">
<!-- いいね -->
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">いいね<%= @post.likes.count.to_s(:delimited) %></a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent" style="width: 100%">
      <%= render 'show_comment' %>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <%= render 'show_liked' %>
    </div>

  </div>
</div>
</div>
